<footer class="footer mt-auto py-4 bg-dark text-white" id="sticky-footer">
    <div class="container text-center">
        <small>Copyright &copy; <%= link_to "Jose Rivas", "https://github.com/joser1945", class: "text-white" %></small>
    </div>
</footer>